<div class="pref-row">
  <div class="pref-row__text">
    <div class="pref-row__title">
      <span>{{ def().title }}</span>
      @if (def().detail) {
        <nexus-icon-button
          icon="help-circle"
          [label]="'More about ' + def().title"
          [tooltip]="def().detail!"
          tooltipMode="block"
          [tooltipClickToggle]="true"
        />
      }
    </div>
    @if (line()) {
      <p class="pref-row__hint">{{ line() }}</p>
    }
  </div>
  <div class="pref-row__control">
    <ng-content />
  </div>
</div>
