:host {
  display: flex;
  align-items: center;
  gap: 1ch;
}

:host([routerlink]) {
  cursor: pointer;
}

.nexus-logo {
  width: 24px;
  height: 24px;

  object-fit: contain;
  border-radius: var(--radius-md);

  user-select: none;
  -webkit-user-drag: none;
}

.nexus-product-name {
  font-weight: 600;
  white-space: nowrap;
}
